body{
  font-family: 'Montserrat','Lato', 'Arial';
  background-color: white;
}

#header {
  line-height: 1.5;
  padding: 1em 0;
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
  color: var(--dark);
  border-bottom: 1px solid #e0e0e0;
  flex: 0 0 auto;
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}


#header #left{
  font-size: 2em;
  font-weight: 700;

  float:left;
}

#header #right{
  font-size: 1.5em;
  font-weight: 400;
  float:right;
}

@media screen and (min-width: 639px) {
  #content{
    margin-left:30%; margin-right:30%;
  }
}

.oo-ui-tabSelectWidget-framed{
  background-color: transparent !important;
}

.centre{
  text-align: center;
}
.overflow{
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}